[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Pp]ackages/com.unity.*
UserSettings/
MemoryCaptures/

# IDE
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd

# OS files
.DS_Store
Thumbs.db
